name: git_bindings
description: Bindings for libgit2
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: io.gitjournal.git_bindings
    pluginClass: GitBindingsPlugin

